<a href="https://colab.research.google.com/github/rokon18/python-self-practice-lab/blob/main/22_46044_1_Lab_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# About this notebook
<p style="text-align: justify"> Here, you will learn the basic statements of python and function. Some codes will be given for demonstration. Some other codes, you will do as excercise.</p>

## Submission
<p style="text-align: justify">After completing the practice codes and exercises, download the notebook (.pynb file) and submit the notebook  to MS Teams inbox in the class period</p>
<p> 1.<b> You must submit your own code</b>. If similarity found negative marking will be given.</p>
<p> 2. Modify the file name writing your ID at the beigining of the file name.</p><p> <b>Example: 20-45961-3 Lab 02.ipynb</b></p>
<p> 3. Other file format (except .pynb) or link will not be accepted.</p>

# User Input

In [ ]:
a = 200
print(a)

200

In [ ]:
a = input()
print(a)
print(type(a))

22-460
22-460
<class 'str'>

In [ ]:
a = input('Enter a value: ') # always returns string
print('The given value is '+ a)
print(type(a))

Enter a value: 2024
The given value is 2024
<class 'str'>

In [ ]:
a = int(input('Enter a number: ')) # returns string but converted to int
print(f'The result is {a+11}')
print(type(a))

Enter a number: 22
The result is 33
<class 'int'>

In [ ]:
while True:
  a = input('Enter your Birth Year:')
  if a.isdigit():
    print(f'You are {2024-int(a)} years old')
    break
  print('WRONG INPUT')

Enter your Birth Year:2002
You are 22 years old

# if statement
There can be zero or more elif parts, and the else part is optional. The keyword ‘elif’ is short for ‘else if’

In [ ]:
# indent
i = 2
if i < 5: # () not required, {} not required
  print('okay')
  print('fine')
  print('fine too')
else:
  print('bad')
print('not okay') # will be executed in each run

okay
fine
fine too
not okay

In [ ]:
x = int(input("Please enter an integer: "))
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
  print('More')

Please enter an integer: 10
More

<b>Exercise 1:</b> Input a course mark (0-100) from user and use the <b>if</b> statement to print corresponding grade.

In [ ]:
# code here
x = float(input("Please enter a course mark: "))
if (x>100 or x<0):
  print('invalid input')
elif (x>=90 and x<=100):
    print('your grade is :A+')

elif (x>=80 and x<90):
    print('your grade is :A')

elif (x>=70 and x<80):
    print('your grade is :B')
elif (x>=60 and x<70):
    print('your grade is :C')
elif (x>=50 and x<60):
    print('your grade is :D')
else:
  print('your grade is :F')

Please enter a course mark: 90
your grade is :A+

# for statement
<p style="text-align: justify">The for statement in Python differs a bit from what you may be used to in C or C++. Rather than always giving the user the ability to define both the iteration step and halting condition, Python’s for statement iterates over the items of any sequence (a list or a string), in the order that they appear in the sequence.</p>

In [ ]:
# Measure some strings:
words = ['cat', 'dog', 'dhaka','ctg']

for w in words:
    print('the word is:{}'.format(w))

the word is:cat
the word is:dog
the word is:dhaka
the word is:ctg

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(4,20))

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
list(range(4,20,2))

[4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
words = ['cat', 'dog', 'dhaka','ctg','ABC']
for i in range(len(words)):
    print('the word is: {}'.format(words[i]))

the word is: cat
the word is: dog
the word is: dhaka
the word is: ctg
the word is: ABC

### The range() Function
If you do need to iterate over a sequence of numbers, the built-in function range() comes in handy. It generates arithmetic progressions:

In [ ]:
list(range(3,30,3))

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [ ]:
numbers = [1, 56, 78, 8,7]

for n in numbers:
    print(n+10)

11
66
88
18
17

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# repeated for 0 to 4
# for(i=0;i<5;i++)
for i in range(0,20,2):
    print(i)

0
2
4
6
8
10
12
14
16
18

<p style="text-align: justify">The given end point is never part of the generated sequence; range(10) generates 10 values, the legal indices for items of a sequence of length 10. It is possible to let the range start at another number, or to specify a different increment (even negative; sometimes this is called the ‘step’):</p>

In [ ]:
list(range(5, 10))

[5, 6, 7, 8, 9]

In [ ]:
list(range(0, 10, 3))

[0, 3, 6, 9]

In [ ]:
list(range(10, 2, -1))

[10, 9, 8, 7, 6, 5, 4, 3]

In [ ]:
list(range(-10, -101, -30))

[-10, -40, -70, -100]

In [ ]:
for i in range(len(numbers)):
    print(i, numbers[i])

0 1
1 56
2 78
3 8
4 7

In [ ]:
for i in range(2,100,10):
    print(i,end=',')

2,12,22,32,42,52,62,72,82,92,

<b>Exercise 2:</b> Print all the even numbers between 0 to 100 using <b>for loop</b> and <b>range</b>.

In [ ]:
# code here
for i in range(0,101,2):
    print(i,end=',')

0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100,

In [ ]:
country = "bangladesh"
for c in country:
    print(c,end=' ')

b a n g l a d e s h

# Functions
<p style="text-align: justify">The keyword def introduces a function definition. It must be followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented.</p>

In [ ]:
from math import sqrt

def is_prime(num):
  if num <= 1:
    return False
  for i in range(2, int(sqrt(num)) + 1):
    if num % i == 0:
      return False
  return True

# Check if a few numbers are prime
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
for num in numbers:
  if is_prime(num):
    print(f'{num} is a prime')
  else:
    print(f'{num} is not a prime')

2 is a prime
3 is a prime
4 is not a prime
5 is a prime
6 is not a prime
7 is a prime
8 is not a prime
9 is not a prime
10 is not a prime
11 is a prime

In [ ]:
def fib(n):    # write Fibonacci series up to n
    lst = [0,1]
    a, b = 0, 1
    while True:
        #print(a, end=' ')
        a, b = b, a+b
        if b < n:
          lst.append(b)
        else:
          break
        #print()
    return lst

In [ ]:
# Now call the function we just defined:
r = fib(1000)
print(r)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]

In [ ]:
# define method
def addnumbers(a, b): # add numbers and return result
    # logic
    c = a + b
    return c

In [ ]:
addnumbers(2,33)

35

In [ ]:
y = addnumbers('80', '  90') # use or call method
print(y)

80  90

In [ ]:
addnumbers([33,77], [66])

[33, 77, 66]

In [ ]:
# add list values
def addValues(num):
    sum = 0
    for n in num:
        sum = sum+ n
    return sum

In [ ]:
addValues(range(10))

45

In [ ]:
addValues([])

0

In [ ]:
v = [5, 4,12, 7]
addValues(v)

28

In [ ]:
v = [5, 4,12, 7, 5, 4,12, 7, 5, 4,12, 7]
addValues(v)

84

In [ ]:
# method/function
def multiTable(n, r=10):
    for i in range(1,r+1):
        print("{}x{}={}".format(n,i,n*i))

In [ ]:
multiTable(8)

8x1=8
8x2=16
8x3=24
8x4=32
8x5=40
8x6=48
8x7=56
8x8=64
8x9=72
8x10=80

In [ ]:
multiTable(10)

10x1=10
10x2=20
10x3=30
10x4=40
10x5=50
10x6=60
10x7=70
10x8=80
10x9=90
10x10=100

<b>Exercise 3:</b> Define a <b>method/function</b> which will take two lists of numbers and returns a list (sum of two lists)
<p>Example:<br>
    Input: [3,4,5,1] and [6,7,2,8]<br>
    output: [9,11,7,9]</p>

In [ ]:
# code here
def sum_lists(list1, list2):
    result = []
    for i in range(len(list1)):
        result.append(list1[i] + list2[i])
    return result


L1 = [3, 4, 5, 1]
L2 = [6, 7, 2, 8]
Sum = sum_lists(L1, L2)
print(Sum)

[9, 11, 7, 9]

<b> Exercise 4:</b> Write a <b>method</b> which will take the <b>full name</b> as input and return both the first name and last name.
<p>Example:<br>
    Input: Arafat Rahman Sunny<br>
    Output: First name: Arafat, Last name: Sunny</p>

In [ ]:
# code here
def split_name(full_name):
    names = full_name.split()
    first_name = names[0]
    last_name = names[-1]
    return first_name, last_name


full_name = input("Enter the full name: ")
first_name, last_name = split_name(full_name)

print(f"First name: {first_name}, Last name: {last_name}")

Enter the full name: Arafat Rahaman Sunny
First name: Arafat, Last name: Sunny

# Output Formatting (Optional)
Go to the [link](https://docs.python.org/3/tutorial/inputoutput.html#formatted-string-literals) and practice the codes below.

In [ ]:
# code here
import math
print(f'The value of pi is approximately {math.pi:.3f}.')
#####
print(f"First name: {first_name}, Last name: {last_name}")

The value of pi is approximately 3.142.
First name: Arafat, Last name: Sunny